.detail-imgs {
    transition: 0.3s;

}

.trip-card {

    height: 100%;
    width: 90%;
    margin: 30px -10px;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    float: left

}

.trip-card:hover {
    padding-top: 5px;
    width: 100%;
    margin: 5px -10px;
    border-radius: 5px;
    position: relative;
    transition: 0.3s;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

}

.home-info {
    max-width: 800px;
    float: left
}

.arrow {
    width: 30px;
    x: 0px;
    y: 0px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 5%;
    margin-right: 5%;
    z-index: 100;

}

.arrow:hover {
    cursor: pointer;
}

#left-control {
    float: left;
}

#right-control {
    float: right;
    right: 0;
    margin-left: 5%;
    margin-right: 5%;
}

.column {
    float: left;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

/* Left and right column */
.column.sidetrip {
    width: 30%;

}

/* Middle column */
.column.home {
    width: 70%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
    .column.home {
        width: 100%;
    }

    .column.sidetrip {
        width: 70%;
        min-width: 200px;
        margin-left: 15%;
    }
}













