@import url("./login/logInpage.css");
@import url("./homes/index/homeIndex.css");
@import url("./navbar/navbar.css");
@import url("./homes/detail/DetailHomePage.css");
@import url("./homes/home-common.css");
a:hover {
    cursor: pointer;
}

.children-components {
    min-height: calc(100vh - 70px);
}
