/* For homes images */
#imgComponent-imgdiv {
    background-color: #fff;
    padding: 5px;
    border: 1px solid #ccc;
    width: 100%;
    margin: 0;
}

.imgComponent-upload {
    background-color: #fff;
    color: #ccc;
    border: 2px dashed;
    line-height: 114px;
    text-align: center;
    cursor: pointer;
}

.imgComponent-imgs {
    width: 100%;
    height: 200px;
    padding: 3px;
}

.imgComponent-imgs-upload {
    color: #ccc;
    border: 2px dashed;
    line-height: 180px;
    text-align: center;
    cursor: pointer;
    width: 100%;
    margin: 3px;
    height: 200px;
}

.delet-icon {
    position: absolute;
    top: 1px;
    right: 20px;
    z-index: 100;
    cursor: pointer;
    color: white;
}
