/* For homes images */
#imgComponent-imgdiv {
    background-color: #fff;
    padding: 5px;
    border: 1px solid #ccc;
    width: 100%;
    margin: 0;
}

.imgComponent-upload {
    background-color: #fff;
    color: #ccc;
    border: 2px dashed;
    line-height: 114px;
    text-align: center;
    cursor: pointer;
}

.imgComponent-imgs {
    width: 100%;
    height: 200px;
    padding: 3px;
}

.imgComponent-imgs-upload {
    color: #ccc;
    border: 2px dashed;
    line-height: 180px;
    text-align: center;
    cursor: pointer;
    width: 100%;
    margin: 3px;
    height: 200px;
}

.delet-icon {
    position: absolute;
    top: 1px;
    right: 20px;
    z-index: 100;
    cursor: pointer;
    color: white;
}

.card:hover {
    box-shadow: 0 9px 19px 0 rgba(0, 0, 0, 0.2);
    padding-top: 5px;

}

.card {

    height: 300px;
    margin: 5px -10px;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    transition: 0.3s;

}