.homeimg-box {
    width: 100%;
    height: 150px;
    overflow: hidden;
    margin-bottom: 3px;
    max-width: 334px;
    border-radius: 3px;
}

.homeimg {
    display: block;
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
    backface-visibility: hidden;
}

.Plus {
    color: #a61d55;
}

.homePlus {
    border-radius: 3px;
    color: #fff;
    background-color: #a61d55;
    padding: 0 5px;
    margin-right: 5px;
}

.hometitle {
    font-size: 100%;
    font-weight: 500;
    line-height: 120%;
    margin: 0 0 1px;
    color: #263471;
}

.homeprice {
    font-size: 14px;
    font-weight: 300;
}

.search-title {
    background-color: #febb02;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 600;
}

.search-bar {
    margin-top: 10px;
    width: 100%;
    background: #ffd2a2;
    padding: 5%;
    border-radius: 5px;
}

.cards-container {
    width: 1200px;
}

.column {
    float: left;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

/* Left and right column */
.column.sidesearch {
    width: 25%;

}

/* Middle column */
.column.home {
    width: 70%;
}

/* Clear floats after the columns */
.row:after {
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1005px) {
    .column.home {
        width: 100%;
        margin-left: 15%;
    }

    .column.sidesearch {
        width: 50%;
        margin-left: 25%;
        min-width: 170px;
    }
}

.CalendarDay__highlighted_calendar {
    background: #82E0AA;
    color: #186A3B;
}

.CalendarDay__highlighted_calendar:hover {
    background: #58D68D;
    color: #186A3B;
}

.CalendarDay__highlighted_calendar:active {
    background: #58D68D;
    color: #186A3B;
}

.card img {
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.card:hover img {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2)
}



